<ion-header collapse="condense">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title size="large" style="text-align: center;">This Month</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)=addCategory()>
        <ion-icon name="add-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-list style = "margin-bottom:auto;">
  <ion-item-sliding *ngFor="let category of categorie$ | async" >
      <app-category [category]='category'></app-category>
  </ion-item-sliding>
</ion-list>